WoW Character Viewer Classic/Serialization/Index.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Index">
    <xs:complexType>
      <xs:sequence>      
	    <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="file"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>